*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    position: relative;
}

.title {
    position: absolute;
    top: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(75, 73, 73);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(60, 59, 59);
}

.score {
    position: absolute;
    font-size: 3vmin;
    top: 28vmin;
    right: 1vmin;
}

.score::before {
    content: 'Score: ';
}

.start-screen {
    position: absolute;
    font-size: 5vmin;
    font-family: monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}